<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="{{ url | relative_url }}">
        {{ title | escape }}
      </a>
    </h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ date | date: date_format }}
      </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author | default: site.author }}</span></span>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="comments">
    I don't have comments on this blog, but if you hit me up via one of the
    contact methods in the footer, I'm happy to talk about or amend these posts.
  </p>

  <a class="u-url" href="{{ url | relative_url }}" hidden></a>
</article>
