---
---
@import "minima";

div.pagination {
  text-align: center;
  position: relative;

  a {
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
  }
}

h1.post-title a {
  color: #111;

  &:hover {
    color: #2a7ae2;
  }
}

p.comments {
  color: #828282;
  font-size: 90%;
  font-style: italic;
}

nav.site-nav {
  @include media-query($on-laptop) {
    width: 100%;
  }

  @include media-query($on-palm) {
    width: auto;
  }
}
