// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: none;

  body {
    max-width: 100%;
    color: #657b83;
    background-color: #fdf6e3;

    p code, li code {
      color: #586e75;
      background-color: #eee8d5;
      border: none;

      -webkit-border-radius: 0;
         -moz-border-radius: 0;
          -ms-border-radius: 0;
           -o-border-radius: 0;
              border-radius: 0;
    }

    >header {
      background: none;

      h1 {
        a, a:hover, a:visited {
          color: inherit;
        }
      }
    }

    >div, >div>div {
      background: none;
    }

    #content>div>article {
      padding-left: 0;
      background: none;

      header, h2 {
        background: none;
      }

      footer .no-comments {
        text-align: center;
      }
    }

    aside.sidebar:hover a, aside.sidebar a, a, a:hover, a:visited {
      color: #268bd2;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    >footer {
      background: none;
      border: none;
      margin: 0;
      padding-top: 5em;
      padding-bottom: 5em;
      text-shadow: none;
      -webkit-border-radius: 0;
              border-radius: 0;
      -webkit-background-clip: padding-box; background-clip: padding-box;

      -webkit-box-shadow: inset 0px 6px 6px 0px #ccc;
              box-shadow: inset 0px 6px 6px 0px #ccc;
    }

    #main-wrapper, footer {
      padding-left: 18px;
      padding-right: 18px;
    }

    #main, nav>div, header>hgroup, footer>p {
      max-width: $max-width;
      margin: 0 auto;
      position: relative;
      border: none;
    }

    nav {
      border: none;
      background: none;
      padding-bottom: 10px;

      -webkit-box-shadow: 0px 6px 6px 0px #ccc;
              box-shadow: 0px 6px 6px 0px #ccc;

      li+li {
        border: none;

        a {
          text-shadow: none;
          border: none;
        }
      }

      form .search {
        background-color: inherit;

        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        -webkit-border-radius: 0;
           -moz-border-radius: 0;
            -ms-border-radius: 0;
             -o-border-radius: 0;
                border-radius: 0;
      }
    }

    aside.sidebar {
      border: none;
      color: inherit;
      background: none;
      padding: 0;


      li, section h1 {
        border: none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
      }

      #twitter-profile #author-card {
        height: 90px;

        img {
          float: left;
        }

        p {
          margin: 0 0 0 95px;

          &#name {
            font-weight: bold;
            padding-top: 1.5em;
          }
        }
      }
    }

    .toggle-sidebar {
      display: none;

      &:hover {
        display: none;
      }

      &:after {
        background: none;
        border: none;
        display: none;
      }
    }

    #content {
      border: none;

      div.pagination {
        background: none;
        margin: 0;
      }
    }

    .gist .gist-file .highlight {
      width: 100%;
    }

    p.meta+.sharing {
      background: none;
    }

    @media only screen and (min-width: 480px) {
      #main-wrapper, footer {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    @media only screen and (min-width: 768px) {
      #main-wrapper, footer {
        padding-left: 35px;
        padding-right: 35px;
      }

      aside.sidebar {
        padding: 0 0 15px 15px;
      }

      #content {
        margin-right: 220px;
      }
    }

    @media only screen and (min-width: 992px) {
      #main-wrapper, footer {
        padding-left: 55px;
        padding-right: 55px;
      }

      aside.sidebar {
        padding: 1.2em 0 20px 20px;
      }

      #content {
        margin-right: 280px;
      }
    }
  }
}
